<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Colyseus.NativeWebSocket" version="2.0.4" manuallyInstalled="true" />
  <package id="MessagePack" version="3.1.8" manuallyInstalled="true" />
  <package id="MessagePack.Annotations" version="3.1.8" />
  <package id="MessagePackAnalyzer" version="3.1.8" />
  <package id="Microsoft.NET.StringTools" version="17.11.4" />
  <package id="System.Collections.Immutable" version="8.0.0" />
</packages>